<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Hello Spring</h1>
<form action="/dc" method="post">

<label>Enter Student name:</label>
<input type="text" name="data"/>
<br>
<br>
<label>Enter the first subject:</label>
<input type="number" name="sub1"/>
<br>
<br>
<label>Enter the second subject:</label>
<input type="number" name="sub2"/>
<br>
<br>
<label>Enter the third subject:</label>
<input type="number" name="sub3"/>
<br>
<br>
<label>Enter the forth subject:</label>
<input type="number" name="sub4"/>
<br>
<br>
<label>Enter the fifth subject:</label>
<input type="number" name="sub5"/>
<br>
<br>



<input type="submit" value="Click here">

</form>
</body>
</html>